<html>

<head>
    <link rel="stylesheet" href='/static/main.css' />
</head>


<div>

    <body>
        <div style="position: relative; height: 1500px; border: solid;">
            <div style="width: 100%;">
                <div style="width: 50%; height: 100px; float: left;">
                    <img src="/mqtt_temp.png" alt="my plot" style="height: 500px; width: 600px">
                    <img src="/mqtt_hum.png" alt="my plot" style="height: 500px; width: 600px">
                    <img src="/mqtt_pres.png" alt="my plot" style="height: 500px; width: 600px">
                </div>
                <div style="margin-left: 50%; height: 100px;">
                    <img src="/socket_temp.png" alt="my plot" style="height: 500px; width: 600px; float: right">
                    <img src="/socket_hum.png" alt="my plot" style="height: 500px; width: 600px; float: right">
                    <img src="/socket_pres.png" alt="my plot" style="height: 500px; width: 600px; float: right">
                </div>
            </div>
        </div>


        <div>
            <h2 style="text-align: right">WEBSOCKET DB </h2>
            <h2 style="text-align: left">MQTT DB</h2>
        </div>

        <table style="float: left">


            <tr>
                <th>Date</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Pressure</th>
            </tr>
            {% for item in mqtt_rows %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
            </tr>
            {% endfor %}
        </table>


        <table style="float: right">

            <tr>
                <th>Date</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Pressure</th>
            </tr>
            {% for item in socket_rows %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
            </tr>
            {% endfor %}
        </table>


</div>
</body>

</html>